@*@model EmployeeListPagination<EmployeeIndexViewModel>*@
@model List<EmployeeIndexViewModel>

@{ ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}

<div class="row" id="FilterDiv">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="IndexAdmin">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Employee List</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            @*<label class="control-label">Ministry</label>*@
                        </div>
                        <div class="form-group col-md-5" style="text-align:right">
                            <label class="control-label">Filter Output By Ministry</label>
                        </div>
                        @*<select asp-for="MDAId" class="form-control" asp-items="@ViewBag.MDAList ">
                                <option selected>-----Select MDA-------</option>
                            </select>*@
                        <div class="form-group col-md-4">
                            <select name="Ministry" id="ddMinistryFilter" class="form-control" asp-items="@ViewBag.MDAList">
                                <option selected>-----Select MDA-------</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2" style="text-align:right">
                            @*<button type="button" class="btn btn-rounded btn-primary" id="btnFilter"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Filter</button>*@
                            <button type="submit" class="btn btn-rounded btn-primary" id="btnFilter"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Filter</button>
                        </div>
                        @*<div class="form-group col-md-2" style="text-align:right">
                                <label asp-for="Designation"></label>
                            </div>
                            <div class="form-group col-md-4">
                                <input asp-for="Designation" class="form-control" id="Designation" placeholder="Enter Designation.." />
                                <span asp-validation-for="Designation" class="text-danger"></span>
                            </div>*@

                    </div><br />
                          <div class="col-md-12 table-responsive-md">
                              @*<a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"><i class="fa-solid fa-user-plus"></i> New Employee</a>*@
                              <a class="btn btn-success float-md-right" asp-action="Create"><i class="fa-solid fa-user-plus"></i> New Employee</a>
                          </div>
                </div>
                <div class="h-100 d-flex align-items-center justify-content-center" id="dvDisplayEmployeeList">
                    @*<p>I got here</p>*@
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script> 
<script src="~/Script/jquery-3.7.1.min.js"></script>


<script src="~/DataTables/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
<script src="~/DataTables/DataTables-1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        var AgencyId = "";
        //alert("I got here");
        /* $("#dvDisplayEmployeeList").load("/Employee/FilterByMDA?pageNumber=0&mdaID=" + AgencyId);*/
        //$("#dvDisplayEmployeeList").load("/Employee/MDAEmployeeList?pageNumber=0&mdaID=" + AgencyId);
        //$("#dvDisplayEmployeeList").load("/Employee/MDAEmployeeList?pageNumber=" + ViewBag.pageNumber + '&mdaID=' + ViewBag.mdaID);
          $("#dvDisplayEmployeeList").load("/Employee/MDAEmployeeListDataTable?mdaID=" + AgencyId);
       


    });
</script>
<script type="text/javascript">
    $("#btnFilter").click(function () {
        var selectedIndex = $("#ddMinistryFilter").val();
        var selectedText = $("#ddMinistryFilter option:selected").text();

        if (selectedText == "-----Select MDA-------") {
            alert("No selection made yet.Make a selection and try again");
            return;
        }
        else {
            AgencyId = selectedIndex;
          /*  alert(AgencyId + "--" + selectedText);*/
            /*var url = "/Employee/FilterByMDA?pageNumber=0&mdaID=" + AgencyId*/
            //var url = "/Employee/MDAEmployeeList?pageNumber=0&mdaID=" + AgencyId

            /*alert("I got here");*/
            $.ajax({
                type: 'GET',
               /* url: "/Employee/MDAEmployeeList",*/
                url: "/Employee/MDAEmployeeListDataTable",
                /*data: { mdaID: selectedIndex, pageNumber: 0 },*/
                data: { mdaID: selectedIndex},
                contentType: 'application/html; charset=utf-8',
                dataType: "html",
                success: function (responseData) {
                    // alert("VALID ID and Details returned");

                    @* alert(@ViewBag.ValidationMessage);*@
                    //alert(responseData);
                    //$("#dvDisplayEmployeeList").load("/Employee/MDAEmployeeList");
                    $('#dvDisplayEmployeeList').html(responseData);
                },
                failure: function (response) {
                    /* alert(response.responseText);*/
                    alert("Unable to perform action");
                },
                error: function (response) {
                    alert(response.responseText);
                }

            })
                //.success(function (result) {
                //    $('#dvDisplayEmployeeList').html(result);
                //})
                //.error(function (xhr, status) {
                //    alert(status);
                //})
        }
        //alert("button");
    });

</script>

<script type="text/javascript">

    function FilterMDARecord() {

        /*  var ID = $("#EmployeeNo").val()*/

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/Employee/MDAIndex',
            /*data: { oracleNumber: $("#EmployeeNo").val() },*/
            data: { mdaID: MDASelectedIndex },
            //url: '/Home/GetResidentsBasicDetails',
            //data: { LASRRAID: $("#txtLASRRAID").val() },
            contentType: 'application/json; charset=utf-8',
            success: function (responseData) {

            },

            failure: function (response) {
                /* alert(response.responseText);*/
                alert("Details on Oracle not found");
            },
            error: function (response) {
                alert("Error communicating to the backend");
            }


        });



    }

</script>