@model List<EmployeeIndexViewModel>

@{ ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/AdminLTE/_LayoutManager.cshtml";

}

<div class="row" id="FilterDiv">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="IndexAdmin">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Employee List</li>
                    </ol>
                </nav>
                <div class="row">
                    <!--<!--<div class="form-row">
                        <div class="form-group col-md-1">-->
                    -->
                    <!--@*<label class="control-label">Ministry</label>*@-->
                    <!--<!--</div>
                    <div class="form-group col-md-5" style="text-align:right">
                        <label class="control-label">Filter Output By Ministry</label>
                    </div>-->
                    -->
                    <!--@*<select asp-for="MDAId" class="form-control" asp-items="@ViewBag.MDAList ">
                            <option selected>-----Select MDA-------</option>
                        </select>*@-->
                    <!--<!--<div class="form-group col-md-4">
                        <select name="Ministry" id="ddMinistryFilter" class="form-control" asp-items="@ViewBag.MDAList">
                            <option selected>-----Select MDA-------</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2" style="text-align:right">-->
                    -->
                    <!--@*<button type="button" class="btn btn-rounded btn-primary" id="btnFilter"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Filter</button>*@-->
                    <!--<button type="submit" class="btn btn-rounded btn-primary" id="btnFilter"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Filter</button>
                        </div>


                    </div>-->
                    <br />
                    <div class="col-md-12 table-responsive-md">
                        @*<a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"> New Employee</a>*@
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="CreatMDAEmployee" asp-route-mdaID="@(User.FindFirst("MDAId").Value)"> New Employee</a>


                    </div>
                </div>
                <div class="row" id="dvDisplayEmployeeList">
                    @*<p>I got here</p>*@
                </div>
            </div>
        </div>
    </div>




</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/Script/jquery-3.7.1.min.js"></script>

<link rel="stylesheet" href="~/DataTables/datatables.css" />

@*<script src="~/DataTables/datatables.js"></script>*@
<script src="~/DataTables/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        var AgencyId = "@(User.FindFirst("MDAId").Value)
        /* $("#dvDisplayEmployeeList").load("/Employee/FilterByMDA?pageNumber=0&mdaID=" + AgencyId);*/
        //$("#dvDisplayEmployeeList").load("/Employee/MDAEmployeeList?pageNumber=0&mdaID=" + AgencyId);
        //$("#dvDisplayEmployeeList").load("/Employee/MDAEmployeeList?pageNumber=" + ViewBag.pageNumber + '&mdaID=' + ViewBag.mdaID);
        $("#dvDisplayEmployeeList").load("/Employee/MDAEmployeeListDataTable?mdaID=" + AgencyId);



    });
</script>