<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        LASG/LASRRA Staff Record harmonization
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2023 <a href="https://lagosresidents.gov.ng">LASRRA Application Support && Database Team</a>.</strong> All rights reserved.
</footer>