<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSB Fleet Manager</title>

    <!-- Google Font: Source Sans Pro -->
    <partial name="AdminLTE/_Styles" />
</head>
@*<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">*@
<body>
    <!-- my modification -->
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <!-- Navbar -->
            <partial name="AdminLTE/_TopNavigation" />
            <!-- /.navbar -->
            <!-- Main Sidebar Container -->
            <partial name="AdminLTE/_MainNavigation" />
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">

            </nav>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <partial name="AdminLTE/_Scripts" />

    <!-- jQuery -->

</body>
</html>
