@{
    ViewData["Title"] = "Home Page";
    //Layout = "~/Views/Shared/_LayoutManager.cshtml";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You are logged in as an administrator.  With this priviledge, you have access to viewing uploaded records from different MDAs, 
        LG and LCDAs. This account also allows you to define or register new users  </p>
</div>
@*<div class="bg-image"
     style=" background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp'); height: 100vh; "></div>*@
<div class="bg-image"
     style=" background-image:src() ">
    <img src="~/images/LASRRA.png" style="height: 100vh;" />
</div>
