@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    //Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p align="justify">You are a basic user. You can upload and view records for officers within your establishment only. Kinly also note that, your default 
        password can be modified by you. Kindly click on your name at the top right coner of the application to manage your account details.</p>
</div>
<div class="bg-image"
     style=" background-image:src() ">
    <img src="~/images/LASRRA.png"  style="height: 100vh;"/>
</div>
